[Desktop Entry]
Encoding=UTF-8
Name=Elexika
Comment=Elexika
Exec=elexika
Icon=elexika
Terminal=false
Type=Application
Categories=Application;Utility;
